APP_ENV=dev
APP_NAME=LMS MVP API
DATABASE_URL=postgresql://postgres:xVFOrWrHXkYlYanwDNmaRvmcQbJayoOd@postgres.railway.internal:5432/railway
CORS_ORIGINS=https://cuongc15-biclgsn3x-biencuongs-projects.vercel.app/
